html, body {
  width: 100%;
  background-color: #FFF;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;

}

.container{
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  min-height: 100%;
  flex: 1;
}

.navbar{
  padding: 25px;
  display: flex;
  justify-content: flex-end;

}

.navbar-links{
  display: flex;
  padding: 10px;
  width: 40vw;
  justify-content: space-around;
}

.nav-link{
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-weight: 500;
}

.main{
  margin-left: 50px;
  width: 90vw;
  padding: 10px;
  display: flex;
}

.main-button{
  margin-top: 35px;
}

.learn-more{
  padding: 15px 150px;
  border-radius: 5px;
  background-color: #0070B0;
  border: #0070B0;
  text-decoration: none;
  color: #FFF;
  font-size: 25px;
  transition: background-color 0.5s ease;
}

.learn-more:hover{
  background-color: #333;
  box-shadow: 0 10px 28px 0 rgba(0,0,0,0.2);
}



.greetings{
  font-size: 36px;
  font-weight: bold;
}

.support{
  font-size: 17px;
  color: #526975;
  font-weight: 300;
  line-height: 35px;
}

.text-section{
  margin-top: 100px;
  width: 45vw;
}

.currencies{
  width: 90%;
}

.knowledge-image{
  height: 25%;
}
.me-section{
  width: 45vw;
  display: flex;
  justify-content: center;
}

.knowledge-section{
  margin-left: 50px;
  width: 90vw;
  padding: 10px;
  display: flex;
}

.sub-header{
  font-size: 25px;
  font-weight: bold;
}


.text-section-two{
  margin-top: 100px;
  width: 55vw;
}

.next-button{
  margin-top: 35px;
}

.next-more{
  padding: 15px 75px;
  border-radius: 5px;
  background-color: #0070B0;
  border: #0070B0;
  text-decoration: none;
  color: #FFF;
  font-size: 17px;
  transition: background-color 0.5s ease;
}

.next-more:hover{
  background-color: #333;
  box-shadow: 0 10px 28px 0 rgba(0,0,0,0.2);
}

.contact{
  margin-top: 30px;
}


.contact-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-head{
  font-size: 40px;
  font-weight: bold;
}

.space{
  margin-top: 25px;
}

.input-section{
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #CCCCCC;
  margin-top: 15px;
  width: 25vw;
  font-size: 17px;
}


.submit-section{
  margin-top: 30px;
}
.submit-button{
  padding: 10px 135px;
  border-radius: 10px;
  font-size: 25px;
  text-decoration: none;
  background-color: #0070B0;
  color: #FFF;
  transition: background-color 0.5s ease;
}

.submit-button:hover{
  background-color: #333;
  box-shadow: 0 10px 28px 0 rgba(0,0,0,0.2);
}

#map {
  height: 100%;
}

.header{
  display: flex;
  justify-content: center;
  background-color: #0070B0;
  font-size: 25px;
  color: white;
}

.price-container{
  display: flex;
  width: 90vw;
  justify-content: space-around;
}

.coin-style{
  font-size: 25px;
}

.bold{
  font-weight: 700
}

.global-data{
  padding: 15px 100px;
  border-radius: 5px;
  background-color: #0070B0;
  border: #0070B0;
  text-decoration: none;
  color: #FFF;
  font-size: 25px;
  transition: background-color 0.5s ease;
}

.global-button{
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.global-data:hover{
  background-color: #333;
  box-shadow: 0 10px 28px 0 rgba(0,0,0,0.2);
}


@media(max-width: 425px){
  .navbar-links{
    padding: 25px;
    width: 75vw;
    justify-content: space-around;
  }

  .me-section{
    display: none;
  }
  .text-section{
    
    width: 90vw;
  }
  .greetings{
    font-size: 20px;
  }
  .support{
    font-size: 12px;
  }
  .learn-more{
    padding: 5px 50px;
    font-size: 14px;
  }
  .input-section{
    width: 65vw;
  }
  .contact-section{
    padding: 25px 25px;
  }
  .subscribe-form{
    padding: 10px 10px;
  }
}

@media(max-width: 768px){
  .next-more{
    padding: 5px 25px;
    font-size: 12px;
  }
  .me-section{
    width: 25vw;
    
  }
  .text-section{
    margin-top: 100px;
    width: 65vw;
  }
  .input-section{
    width: 65vw;
  }
}

@media(max-width: 1024px){
  .me-section{
    width: 25vw;
    
  }
  .text-section{
    margin-top: 100px;
    width: 65vw;
  }
  .support{
    font-size: 17px;
  }
  .next-more{
    padding: 5px 40px;
    font-size: 15px;
  }
}